context/input/*
!context/input/.gitkeep

context/output/*
!context/output/.gitkeep


documentation/input/*
!documentation/input/.gitkeep

documentation/output/*
!documentation/output/.gitkeep



output/context-export-response.json

